.Signin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Title {
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    color: #642828;
    text-transform: uppercase;
  }

  .SubTitle {
    text-align: center;
    font-family: Roboto;
    font-size: 27px;
    font-weight: bold;
    color: #524949;
    text-transform: uppercase;
  }

  .Underline {
    width: 400px;
    height: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background: linear-gradient(to right, #803b32, #ddb49b);
  }

  .Contents {
    display: flex;
    margin-top: 40px;
    background-color: #f3f7f8;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 550px;

    .SigninBg {
      width: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}