.SigninForm {
  width: 50%;
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Header {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #524949;
    margin-bottom: 40px;
  }

  form {
    div {
      margin-top: 18px;
    }

    .TextInput {
      display: block;
      width: 100%;
      padding: 5px;
      margin-top: 10px;
      font-weight: bold;
      box-sizing: border-box;
    }
  
    .SigninBtn {
      margin-top: 10px;
      width: 100px;
      height: 32px;
      background-color: rgb(57, 77, 116);
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  hr {
    margin: 30px 0;
  }

  .Footer {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 10px 0;
      }

      button {
        width: 100px;
        height: 30px;
        background: none;
        border-color: rgb(57, 77, 116);
        color: rgb(57, 77, 116);
        box-sizing: border-box;
        cursor: pointer;
      }
    }
  }
}