/* Global */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #474f8a;
}

a:hover {
  color: #a0351a;
}

button {
  padding: 10px 15px;
  border: none;
  background: #474f8a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Signin */
#signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

#signin-page > .container {
  width: 800px;  
}

#signin-header {
  text-align: center;  
  padding: 15px;
  text-transform: uppercase;  
}

#signin-header h1 {
  color: #a0351a;
}

#signin-header h2 {
  color: #535050
}

#signin-underline {
  height: 50px;  
  padding-top: 10px;
}

#signin-underline div {
  width: 400px;
  height: 8px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(to right, #803b32, #ddb49b);
}

#signin-page .flex-container {
  display: flex;
  height: 550px;
  background: #eff5f8;  
}

#signin-aside {
  width: 50%;
}

#signin-aside img {
  width: 100%;
  height: 550px;
}

#signin-section {
  width: 50%;
  padding: 40px 40px;
}

#signin-section div {
  margin-bottom: 10px;
}

#signin-section > h3 {
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  padding: 40px 0;
} 

#signin-section label {
  display: block;
  margin-bottom: 5px;
}

#signin-section .textInput {
  width: 100%;
  padding: 8px;  
}

#signin-section form button {
  width: 100%;
  border-radius: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#signin-section form button:hover {
  background: #5c64a3;
}

#signin-section .footer {
  text-align: center;
}

#signin-section .footer a {  
  text-transform: capitalize;
  margin: 0 5px;
}

#signin-section .footer button {
  background: rgb(250, 120, 97);  
}